---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">
     {% if site.title == "blank" %}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{% else %}{{ site.title }}{% endif %}
    </h1>
     <p class="desc">{{ page.description }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1 rounded" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %}
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}
	  To get in touch, contact me via email: <a href="javascript:location='mailto:\u0061\u006c\u0065\u0073\u0073\u0061\u006e\u0064\u0072\u006f\u002e\u0072\u0065\u006e\u0064\u0061\u0040\u0069\u006e\u0067\u002e\u0075\u006e\u0069\u0070\u0069\u002e\u0069\u0074';void 0"><script type="text/javascript">document.write('\u0061\u006c\u0065\u0073\u0073\u0061\u006e\u0064\u0072\u006f\u002e\u0072\u0065\u006e\u0064\u0061\u0040\u0069\u006e\u0067\u002e\u0075\u006e\u0069\u0070\u0069\u002e\u0069\u0074')</script></a>
    </div>

    {% if page.news %}
      {% include news.html %}
    {% endif %}

    {% if page.selected_papers %}
      {% include selected_papers.html %}
    {% endif %}

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
      <div class="contact-note">{{ site.contact_note }}</div>
    </div>
    {% endif %}
  </article>

</div>
